body {
  background-image: -webkit-linear-gradient(30deg, #84fab0 0%, #8fd3f4 100%);
  background-image: -o-linear-gradient(30deg, #84fab0 0%, #8fd3f4 100%);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  overflow-y: hidden;
}

* {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

ul {
   list-style-type: none;
   padding-bottom: 5px;
}

li {
  margin: 0px 0px 10px -10px;
  padding: 0px 10px 10px 0px;
  font-size: 1.25rem;
}

.input-field [type="text"] {
  font-family: 'Work Sans', sans-serif !important;
  font-size: 2rem !important;
  color: black !important;
}

::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  color: black;
}

.column-header {
  font-size: 1.5rem;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 10px 0px 10px 10px;
  background-color: darkblue;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.result {
  height: 50vh;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 1px 11px 25px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 11px 25px -8px rgba(0,0,0,0.75);
  box-shadow: 1px 11px 25px -8px rgba(0,0,0,0.75);
  overflow-y: auto;
  animation: fadeInUp 1s;
}

.result-text {
  padding-left: 20px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.view-link  {
  display: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: purple;
  text-align: center;
  color: white;
  position: relative;
  top: 10px;
}

.view-link:hover {
  cursor: pointer;
}

.result:hover + .view-link {
  display: block;
  animation: fadeInDown .5s;
}

@keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-5px);
            }
            100% {
               opacity: 1;
               transform: translateY(0px);
            }
         }

a, a:hover {
  color: white;
  text-decoration: none;
}

.close {
  color: gray;
}

.close:hover {
  cursor: pointer;
  color: black;
}
