body {
  background-color: #f6f6f6;
  color: black;
  font-family: 'Alata', sans-serif;
  margin: 0 auto;
}

ul {
   list-style-type: none;
   padding-bottom: 5px;
}

li {
  margin-left: -35px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
}

.header {
  display: flex;
  padding: 20px 0px 0px 20px;
  height: 25vh;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 55%);
  background-color: #bdf2d5;
  color: #5d13e7;
  text-align: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20%;
  top: -7%;
}

.header-maintext {
  font-size: 3rem;
}

.header-subtext {
  font-size: 2rem;
}

#toggle {
  height: 25px;
  width: 60px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #5d13e7;
  color: white;
  text-align: left;
}

#toggle i {
  padding: 0px 0px 0px 5px;
  cursor: pointer;
}

#cursor {
  display: inline-block;
  height: 2rem;
  width: 2px;
  background-color: black;
}


input {
  width: 90%;
  padding: 20px;
  margin-top: 2.5%;
  margin-left: 2.5%;
  color: black;
  background-color: #f6f6f6;
  border: 0px;
  border-bottom-width: 100px;
  border-radius: 5px;
  box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
    12px 12px 12px 0 rgba(0,0,0,0.3);
  font-size: 1.5rem;
  font-family: 'Alata', sans-serif;
}

input::placeholder {
  color: black;
}

i {

}

#icon {
  position: relative;
  left: -4.5%;
  border-radius: 50%;
  padding: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #5d13e7;
}

.results-grid {
  margin-top: 5%;
  position: relative;
  left: 4%;
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.result-column {
  width: 30%;
}

.result-column:last-of-type {
  margin-right: 0;
}

.result {
  border-radius: 10px 10px 10px 10px;
  box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
    12px 12px 12px 0 rgba(0,0,0,0.3);
  height: 100%;
  overflow-y: scroll;
}

#weblio, #infoseek, #eijiro {
  opacity: 0;
}

.result-header {
  background-color: #bdf2d5;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0 10px 0;
}

.result-text {
  padding-left: 20px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.view-link  {
  display: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: purple;
  text-align: center;
  color: white;
  position: relative;
  top: 10px;
}

.view-link:hover {
  cursor: pointer;
}

.result:hover + .view-link {
  display: block;
  animation: fadeInDown .5s;
}

@keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-5px);
            }
            100% {
               opacity: 1;
               transform: translateY(0px);
            }
         }

a, a:hover {
  color: white;
  text-decoration: none;
}

.close {
  color: gray;
}

.close:hover {
  cursor: pointer;
  color: black;
}
