body {
  color: black;
  font-family: 'Alata', sans-serif;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

ul {
   list-style-type: none;
   padding-bottom: 5px;
}

li {
  margin-left: -35px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
}

.container {
  height: 100vh;
  width: 100vw;
  background: url('./assets/sakura.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
}

.image img {
  width: 100%;
  height: auto;
}

.ui {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 5%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-maintext {
  font-size: 7vh;
}

.header-subtext {
  font-size: 3vh;
}

form {
  width: 100%;
}

input {
  display: inline-block;
  width: 80%;
  padding: 20px;
  color: black;
  border: 0px;
  font-size: 3vh;
  font-family: 'Alata', sans-serif;
}

input::placeholder {
  color: black;
}

.icon-container {
  width: 10%;
}

#icon {
  position: relative;
  left: -10%;
  border-radius: 50%;
  font-size: 4vh;
  padding: 15px;
  cursor: pointer;
  color: #5d13e7;
}

#clear-icon {
  position: relative;
  left: -11%;
  border-radius: 50%;
  font-size: 4vh;
  cursor: pointer;
  color: #5d13e7;
  visibility: hidden;
}

.spin-animation {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin
  {
    100%
      {
        -moz-transform: rotate(360deg);
        }
    }
@-webkit-keyframes spin
  {
    100%
      {
        -webkit-transform: rotate(360deg);
      }
  }

@keyframes spin
  {
    100%
      {
        transform:rotate(360deg);
       }
  }

.row {
  height: 25vh;
  width: 90%;
}

.no-results {
  opacity: 0;
  position: relative;
  left: 30%;
  margin-top: 5%;
  width: 45%;
  padding: 15px;
  background-color: #bdf2d5;
  color: #5d13e7;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
}

.results {
  width: 90%;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result {
  width: 30%;
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  padding: 15px;
  background-color: #bdf2d5;
  color: #5d13e7;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  cursor: pointer;
}

.result i {
  margin-left: auto;
}

.result-modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(189, 242, 213, .75);
}

.modal-card {
  position: relative;
  top: 20%;
  left: 25%;
  max-height: 80vh;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  color: #5d13e7;
  padding: 2%;
  box-shadow: 12px 12px 12px 0 rgba(0,0,0,0.3);
}

.modal-card-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 4vh;
  width: 100%;
  margin-bottom: 2.5%;
}

.modal-body {
  max-height: 50vh;
  overflow-y: scroll;
  font-size: 3vh;
}

.modal-close {
  margin-left: auto;
  cursor: pointer
}

/*  portrait orientation */

@media only screen and (orientation: portrait) {

  .ui {
    left: 5%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    width: 90%;
  }

  input {
    width: 70%;
  }

  #icon {
    left: -15%;
  }

  #clear-icon {
    left: -20%;
  }

  .results {
    flex-direction: column;
    width: 81%;
  }

  .result {
    width: 100%;
    margin-bottom: 10px;
  }

  .modal-card {
    left: 5%;
    width: 85%;
  }

}

/* small screens - landscape */

@media only screen and (orientation: landscape) and (max-width: 680px) {

  input {
    width: 70%;
  }


  #clear-icon {
    margin-left: -4%;
  }

  .result {
    padding: 10px;
  }
}

/* large screens - landscape */

@media only screen and (orientation: landscape) and (max-width: 1500px) {

  #clear-icon {
    left: -15%;
  }

  .result {
    width: 25%;
    font-size: 2vh;
  }
}
